<ul id="mainNav">
	<li>
		<%= link_to "donate", root_path, :class=>"home" %>
	</li>

	<li>
		<%= link_to "about", about_path, :class=>"about" %>		
	</li>

	<li>
		<%= link_to "how", "http://merapiDonation.com/images/How.pdf" , :class=>"widget"%>
	</li>

	<li class="blog">
		<%= link_to "gallery", root_path, :class=>"blog" %>
	</li>
	
	<li>
		<%= link_to "blog", "http://google.com", :class=>"widget" %>
	</li>
	
</ul>